# Ignore ipython notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore the saved models
pytorch_model.bin
*pytorch_model.bin
**/pytorch_model.bin

# Ignore DS store
.DS_Store
*/.DS_Store
