# Ignore ipython notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Ignore the saved models
pytorch_model.bin
*pytorch_model.bin
**/pytorch_model.bin
optimizer.pt
*optimizer.pt
**/optimizer.pt

# Ignore check points generated in different sections
3-Fine-Tuning-a-Pretrained-model/test-trainer/*
7-Main-NLP-Tasks/bert-finetuned-ner/
7-Main-NLP-Tasks/bert-finetuned-ner-accelerate/

# Ignore DS store
.DS_Store
*/.DS_Store
